/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
config/local_env.yml
/config/amazon-rds-ca-cert.pem

/config/credentials.yml.enc

# Ignore Python virtual environment directory
venv/
env/
__pycache__/
myenv/

.pycall_cache

*.pyc

.env
.env.local

/lib/seeds
/config/credentials
/.vscode

*.json
heroku_apps_list

# AI



*/.DS_Store

app/python/ai_processing/*/data/*
app/python/ai_processing/*/model/*

app/python/data_processing/*/data/*
app/python/data_processing/*/model/*


app/python/ai_processing/company_extraction/.DS_Store
