<div
    style="display: flex; height: 100vh; width: 100vw; margin: 1em; padding: 0;"
>
<h1 style="margin-top: 0">Search</h1>
</div>





# <%= react_component("SearchPage", props: @search_page_props, prerender: false) %>