<div
    style="display: flex; margin: 1em; padding: 0;"
    id="SearchPage-react-component"
>
<h1 style="margin-top: 0">Search</h1>
</div>




<%= react_component("SearchPage", props: @search_page_props, prerender: false) %>