<h1>Companies</h1>
<ul>
  <% @companies.each do |company| %>
    <li>
      <strong><%= link_to company.company_name, company_path(company) %></strong>
      <p><%= company.company_description %></p>
    </li>
  <% end %>
</ul>
