// app/javascript/design-system/colors.scss


$mui-palette-primary-main: #fb0000;
$mui-palette-secondary-main: #226f54;
$turquoise: #72e1d1;
$lavender-blush: #f9eeee;
$penn-red: #9a0000;

$font-family: 'Open Sans', sans-serif;

// Export to :root for use in JS
:root {
    --mui-palette-primary-main: #fb0000;
    --mui-palette-secondary-main: #226f54;
    --turquoise: #72e1d1;
    --lavender-blush: #f9eeee;
    --penn-red: #9a0000;
    --font-family: 'Open Sans', sans-serif;

}

// example usage in sass file:
// @import 'design-system/colors.scss';

// body {
//   background-color: $lavender-blush;
//   font-family: $font-family;
// }