// app/javascript/design-system/colors.scss

$primary-color: #3f51b5;
$secondary-color: #ff4081;
$custom-blue: #6096ba;
$custom-warm: #FF7043;

// Font configuration
$font-family: 'Open Sans', sans-serif;

// Export to :root for use in JS
:root {
    --primary-color: #3f51b5;
    --secondary-color: #ff4081;
    --custom-blue: #6096ba;
    --custom-warm: #FF7043;
    --font-family: 'Open Sans', sans-serif;
}

// example usage in sass file:
// @import 'design-system/colors.scss';

// body {
//   background-color: $primary-color;
//   font-family: $font-family;
// }